.header {
  max-width: 1400px;
  margin: 0 auto;
  :global {
    .search {
      width: 40%;
    }
    .nav-item.dropdown {
      max-width: 230px;
      #dropdown-account {
        color: #1cbd72;
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        right: 0;
      }
    }
    .navbar-light .navbar-nav .nav-link.active {
      color: rgba(0, 0, 0, 0.5);
    }
    .navbar-light .navbar-nav .nav-link:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
